title: Scraper
description: >-
  This add-on will scrape and optionally crawl a given site for documents to upload
  to DocumentCloud.  It can also alert you of given keywords appearing in those
  documents.
type: object
properties:
  site:
    title: Site
    type: string
    format: uri
    description: The URL of the site to start scraping
  project:
    title: Project
    type: number
    description: >-
      The DocumentCloud project ID of the project the documents should be uploaded in to
  keywords:
    title: Keywords
    type: string
    description: Keywords to search and notify on (comma separated)
  filecoin:
    title: Push to IPFS/Filecoin
    type: boolean
    description: >-
      WARNING: This will push all scraped files to IPFS and Filecoin.  There is
        no way to remove files from these storage systems.
  #filetypes:
  #  title: File Types
  #  type: string
  #  description: File extensions to be uploaded to DocumentCloud (comma separated)
  #  default: ".pdf,.docx,.xlsx,.pptx,.doc,.xls,.ppt"
  crawl_depth:
    title: Crawl Depth
    type: integer
    description: Recursively scrape same-domain links found on the page (Must be between 0 and 2)
    default: 0
    minimum: 0
    maximum: 2
  notify_all:
    title: Notify on all new documents
    type: boolean
  slack_webhook:
    title: Slack Webhook
    type: string
    format: uri
    description: Enter a slack webhook to enable Slack notifications
required:
  - site
  - project
eventOptions:
  name: site
  events:
    - hourly
    - daily
    - weekly
